services:
  bot:
    build: .
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 256M
        reservations:
          cpus: '0.10'
          memory: 64M
